{{ define "base-top" }}
<div class="mdl-layout mdl-js-layout">
{{ end }}

{{ define "main" }}

  <div class="px-container">
    <div class="section--center mdl-grid mdl-shadow--4dp">
      <div class="mdl-cell mdl-cell--12-col">
        <h4>{{.Title}}</h4>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <img class="px-about-img" src="{{.Params.image | relURL}}" />
      </div>
      <div class="mdl-cell mdl-cell--8-col">
        {{.Content}}
      </div>
    </div>
  </div>
    

{{ end }}