img.about-img {
  width: 100%;
  height: auto;
}
footer div.social-wrapper {
  display: inline-block;
  background: rgba(255,255,255,0.1);
  padding: .5rem;
  margin: .25rem;
  text-align: center;
  min-width: 26px;
  
}
footer {
  position: relative;
  
}
footer .social-button {
  color: white;
  line-height: 26px;
  font-size: 20px;

}

.main-wrapper {
  display: block;
  height:100%;
  min-height: calc(100vh - 175px );
}

.mdl-mini-footer__right-section {
  margin-right: 1rem;
}
.pointy-section {
  padding-top: 8em;
  margin-bottom: 8em;
}

.pointy-container {
  padding: 3em;
  background: white;
}

.error-wrap {

  height:calc(100vh - 70px);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pointy-title {
  padding: 3em;
  height: 50vh;
  min-height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.pointy-title h2,
.pointy-title h4 {
  font-weight: lighter;
  margin-top:0;
  margin-bottom: 0;
}

.post-header {
  margin-bottom: 4rem;
}

#button-up {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
.white-text {
  color: #fff !important;
}

.photo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 300px;
    padding: 0;
}

.mdl-card__title-text a {
  text-decoration: none;
  font-weight: 300;
}

.photo-section > .mdl-card__title-text,
.photo-single > .mdl-card__title-text {
  transition: background-color 0.2s ease;
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding: 1rem;
  width: 100%;
}

.photo-section > .mdl-card__title-text:hover {
  background: rgba(0,0,0,0.75);
}
.photo-section > .mdl-card__title-text a {
  color: #fff !important;
}

.mdl-layout__drawer-button {
  color: #ccc;
  background: rgba(33,33,33,1);
  border-radius: 5px;
  
}
.photo-single {
  width: 100%;
  height: 60vh;
  min-height: 350px;
  padding: 1rem;
  
}

.grid {
  background: #fff;
}

.grid-sizer, .grid-item { width: 33%; }

@media all and (min-width: 0) and (max-width: 600px) {
  .grid-sizer, .grid-item { width: 100%; }
 }

@media all and (min-width: 601px) and (max-width: 840px) { 
  .grid-sizer, .grid-item { width: 50%; }
 }

.pointy-cell {
  margin: 1rem;
}