{{ define "base-top" }}
<div class="mdl-layout mdl-js-layout" style="background:{{with .Site.Params.errorImage}}url('{{ . | relURL }}') no-repeat center{{else}} #727272{{end}}; background-size: cover; background-attachment:fixed;">
{{ end }}

{{ define "main" }}

<div class="mdl-typography--text-center px-title white-text ">
  <h2>Error</h2>
  <h4>Sorry, the page seems to be missing.</h4>
  <p>Go <a href="javascript:history.back()">back</a> or <a href="{{ .Site.BaseURL }}">home</a>.</p>
</div>



{{ end }}