{{ define "main" }}      
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}

<div class="px-container flex-grow">
    <div class="mdl-shadow--4dp">
      <div class="section--center mdl-grid">
        <h4>Tags</h4>
        <div>
          {{ $tags := $.Site.Taxonomies.tags.ByCount }}
          
          {{ $v2 := where $tags "Term" "not in" (slice "tags" "rss") }}
        
          {{ $.Scratch.Set "untagged" 0 }}
          {{ range $pages }}
            {{ with .Params.tags }}{{ else }}{{ $.Scratch.Add "untagged" 1 }}{{ end }}
          {{ end }}
          
          <style>
          button.active {
            color: red!important;
          }
          </style>
          <div class="px-tag-cloud-wrapper">
            <button class="mdl-button mdl-button--raised mdl-js-button " id="pxtagSelectAllTags" onclick="htf.showAll('tag'); msnry.layout();">
              All Tags
            </button>
            {{ range $v2 }}
              {{ if .Term }}
                <button class="mdl-button mdl-button--raised mdl-js-button pxtag-button" id="pxtag-{{.Term | urlize}}" onclick="htf.checkFilter('{{.Term | urlize}}', 'pxtag-'); msnry.layout();">
                  <span>{{.Term | humanize | title }}</span>
                  <span> ({{.Count}})</span>
                </button>
              {{ end }}
            {{ end }}
            {{ if gt ( $.Scratch.Get "untagged") 0 }}
            <button class="mdl-button mdl-button--raised mdl-js-button " id="pxtag-tfuntagged" onclick="htf.checkFilter('tfuntagged', 'pxtag-'); msnry.layout();">
              Untagged ({{ $.Scratch.Get "untagged" }})
            </button>
            {{ end }}
          </div>
          <hr >

        </div>
        
      </div>
      
    
      
      
      
    <div class="grid" id="grid-container" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
    <div class="grid-sizer"></div>
    {{ $paginator := .Paginate $pages  }}
    
    {{ range ( $pages.ByPublishDate.Reverse ) }}

    <div class="grid-item px-filter-item px-item" 
          data-tags="{{ with .Params.tags }}{{ range . }}{{ . | urlize }} {{ end }}{{ else }} tfuntagged{{ end }}"
          data-section="{{ .Section }}">
      <div class="mdl-shadow--2dp px-cell">
        
        {{ $.Scratch.Set "imgURL" "" }}
        {{ $.Scratch.Set "imgAlt" "" }}
        {{ $.Scratch.Set "hasImg" false }}
        
        {{ if isset .Params "image" }}
        {{ $.Scratch.Set "hasImg" true }}
          {{ if eq ( printf "%T" .Params.image ) "string" }}
            {{ $.Scratch.Set "imgURL" .Params.image }}
            {{ $.Scratch.Set "imgAlt" .Params.image }}
          {{ else if eq ( printf "%T" .Params.image ) "[]interface {}" }}
            {{ range first 1 .Params.image }}
              {{ $.Scratch.Set "imgURL" .src }}
              {{ $.Scratch.Set "imgAlt" .title }}
            {{ end }}
          {{ else if eq ( printf "%T" .Params.image ) "[]string" }}
            {{ range .Params.image }}
              {{ $.Scratch.Set "imgURL" . }}
              {{ $.Scratch.Set "imgAlt" . }}
            {{ end }}
          {{ end }}
        {{ else if ( gt ( len (.Resources.ByType "image")) 0 ) }}
          {{ $.Scratch.Set "hasImg" true }}
          {{ range first 1 (.Resources.ByType "image")  }}
            {{ $.Scratch.Set "imgURL" .RelPermalink }}
            {{ $.Scratch.Set "imgAlt" .Name }}
          {{ end }}
        {{ end }}
        
        
        
        <div class="mdl-card__title {{if $.Scratch.Get "hasImg"}} px-photo-section{{end}}" 
            {{if $.Scratch.Get "hasImg"}} style="background:url({{ $.Scratch.Get "imgURL" | relURL }}) no-repeat center; background-size: cover;" {{ end }} >    
          <h4 class="mdl-card__title-text"><a class="mdl-card__title-text" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        </div>
          
          
      </div>
    </div>
    
    {{ end }}
    
    
    </div>
    
    
    
    
    
    
    
    
    
  </div>
</div>

<script src="{{ "js/vendor/htf/hugotagsfilter.dist.js" | relURL}}"></script>
<script>

var htfConfig = {
  filters: [{
    name: 'tag',
    prefix: 'pxtag-',
    buttonClass: 'pxtag-button',
    allSelector: '#pxtagSelectAllTags',
    attrName: 'data-tags'
  }],
  showItemClass: "show-item",
  filterItemClass: "grid-item",
  activeButtonClass: "mdl-button--colored"
} 

var htf = new HugoTagsFilter(htfConfig);


var container = document.querySelector('#grid-container');

var msnry = new Masonry( container, {
  columnWidth: ".grid-sizer"
});

</script>




{{ end }}
